@page
@using Models
@model RentCar.Pages.CarSelectModel
@{
	ViewData["Title"] = "Car select page";
}

<h1 >Car select page </h1>
<ul class="res_pan">
	@foreach (Car car in Model.ResCars)
	{
		<li>
			<div class="res_car">
				<a href="/CarPage?CarBody=@car.CarBody"> <img class="car-img" alt="image coming s00n"/> </a>
				<div>
					<a class="title" href="/CarPage?CarBody=@car.CarBody">@car.Brand @car.Model @car.YearOfProd</a><br>
				</div>
			</div>
		</li>
	}
</ul>
