@page
@using Models
@model RentCar.Pages.CarSelectModel
@{
	ViewData["Title"] = "Car select page";
}

<h2 >Car select page </h2>
<ul class="res-pan">
	@foreach (Car car in Model.ResCars)
	{
		<li>
			<div class="res-car">
				<a href="/CarPage?Id=@car.Id"> <img class="car-img" src="@car.ImgPath" alt="image coming s00n"/> </a>
				<div class="car-title">
					<a class="car-title" href="/CarPage?Id=@car.Id"><strong>@car.Brand @car.Model @car.YearOfProd</strong></a><br>
				</div>
			</div>
		</li>
	}
</ul>
