@page
@model CatalogModel
@{
    ViewData["Title"] = "Catalog";
}
<h1>@ViewData["Catalog"]</h1>
<h2>This is catalog. Let's choose the best option for you</h2><br>
<div>
    <p> <strong> Price filter: </strong> </p>
    <a href="">Econom class</a><br>
    <a href="">Middle class</a><br>
    <a href="">Premium class</a><br><br>
    <p> <strong>Car body type filter: </strong></p>
    <a href="">Hatchbacks</a><br>
    <a href="">Sedans</a> <br>
    <a href="">Universals</a> <br>
    <a href="">Pick-up's</a> <br>
    <a href="">Trucks</a> <br>
    <a href="">Vans</a> <br>
</div>
<style>
    
</style>
    


