@page
@model CatalogModel
@using RentCar.Models
@using static CarSelectModel
@{
    ViewData["Title"] = "Catalog";
}
<h1>@ViewData["Catalog"]</h1>
<h2>This is catalog. Let's choose the best option for you</h2><br>
<div class="div-filters">
    <ul class="country-prod-filter">
        <li>
            <p class="filter"> <strong>Country of production filter: </strong> </p>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Germany"><img class="filter-image" src="~/Images/germany-flag.png" width="14" height="14" />Germany</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Japan"><img class="filter-image" src="~/Images/japan-flag.png" width="14" height="14">Japan</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=United states"><img class="filter-image" src="~/Images/united states-flag.png" width="14" height="14">USA</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Great Britain"><img class="filter-image" src="~/Images/united kingdom-flag.png" width="14" height="14">Great Britain</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=France"><img class="filter-image" src="~/Images/france-flag.png" width="14" height="14">France</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Sweden"><img class="filter-image" src="~/Images/sweden-flag.png" width="14" height="14">Sweden</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Italy"><img class="filter-image" src="~/Images/italy-flag.png" width="14" height="14">Italy</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=South Korea"><img class="filter-image" src="~/Images/south-korea-flag.png" width="14" height="14">South Korea</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Russia"><img class="filter-image" src="~/Images/russia-flag.png" width="14" height="14">Russia</a>
        </li>
    </ul>
    <ul class="car-body-filter">
        <li>
            <p class="filter"> <strong>Car body type filter: </strong></p>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Hatchback"><img src="~/Images/hatchback3d.png" width="20" height="20">Hatchback</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Sedan"><img src="~/Images/sedan3d.png" width="20" height="20">Sedan</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=SportCar"><img src="~/Images/sport-car3d.png" width="20" height="20">Sportcar</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Minivan"><img src="~/Images/minivan3d.png" width="20" height="20">Minivan</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Cabriolet"><img src="~/Images/cabriolet3d.png" width="20" height="20">Cabriolet</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Crossover"><img src="~/Images/crossover3d.png" width="20" height="20">Crossover</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Pick-up"><img src="~/Images/pick-up3d.png" width="20" height="20">Pick-up</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Truck"><img src="~/Images/truck3d.png" width="20" height="20">Truck</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Van"><img src="~/Images/van3d.png" width="20" height="20">Van</a>
        </li>
    </ul>
    <ul class="transmission-filter">
        <li>
            <p class="filter"> <strong>Transmition filter</strong></p>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Mechanical"><img src="~/Images/mechanical-transmission.png" width="20" height="20" />Mechanical gearbox</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=Auto"><img src="~/Images/automatic-transmission.png" width="20" height="20" />Automatic gearbox</a>
        </li>
    </ul>
    <ul class="drive-type-filter">
        <li>
            <p class="filter"> <strong>Drive type filter</strong></p>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=FWD"><img src="~/Images/FWD.png" width="20" height="20" />FWD</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=RWD"><img src="~/Images/RWD.png" width="20" height="20" />RWD</a>
        </li>
        <li>
            <a class="filter-ref" href="/CarSelect?req=4x4"><img src="~/Images/4x4.png" width="20" height="20" />4x4</a>
        </li>
    </ul>
</div>
    


