h2 {
    font-family: Comic Sans MS;
    color: limegreen;
    margin-left: 30px;
}

hr.catalog-hr{
    color: limegreen;
}

.filter-ref {
    font-family: 'Comic Sans MS';
    color: white;
    text-decoration: none;
}

ul.car-body-filter, ul.country-prod-filter, ul.transmission-filter, ul.drive-type-filter {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul.car-body-filter li p, ul.country-prod-filter li p, ul.transmission-filter li p, ul.drive-type-filter li p {
    font-family: Comic Sans MS;
    color: limegreen;
    width: 200px;
    list-style-type: none;
    /*padding:200px;*/
}

ul.car-body-filter li a, ul.country-prod-filter li a, ul.transmission-filter li a, ul.drive-type-filter li a {
    width: 200px;
    text-decoration: underline;
    padding: 30px;
    list-style-type: none;
}

ul.country-prod-filter, ul.car-body-filter, ul.drive-type-filter, ul.transmission-filter{
    animation-duration: 1.5s;
    animation-name: slidein;
}

/*img.filter-img {
    animation-duration: 3s;
    animation-name: slidein;
}*/

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}