@page
@model RentCar.Pages.ErrorModel
@{
	ViewData["Title"] = "Error";
}

<div>
	<h1><strong>@Model.errorText</strong></h1>
	<p>Go to <a href="/Index">Home page</a></p>
	@if(Model.errorText == "error-car-unavb")
	{
		
	}
</div>
