@page
@model RentCar.Pages.ErrorModel
@{
	ViewData["Title"] = "Error";
}



<div>
	<h1><strong>You are already have renting car. Wait for end of your car renting time or stop your actual rent</strong></h1>
	<p>Go to <a href="/Index">Home page</a></p>
</div>
