@page
@model RentCar.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-page">
    <h1>@Model.welcome</h1>
    <h2>Let's go to the <a class="ind-cat-ref" asp-page="/Catalog">catalog</a> for choose</h2>
</div>
