


h1{
    text-align: center;
    color: limegreen;
}

h2{                                                             
    text-align: center;
    color: limegreen
}

.home-page{
    font-family: Calibri;
}

h2.ind-cat-ref:visited{
    color: black;
}

h2.ind-cat-ref.:link{
    color: limegreen;
}

h2.ind-cat-ref:hover{
    color:black;
    text-decoration: underline;
}

/*a.ind-cat-ref:link{*/                                                         /*Colors for any links*/
    /*color: limegreen;
}*/

/*a.ind-cat-ref:visited {
    color: gray;
}*/

/*a.ind-cat-ref:hover {
    color: black;
}*/
