@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-page">
    <h1>Welcome to RentCar</h1>
    <h2>Let's go to the <a class="ind-cat-ref" asp-page="/Catalog">catalog</a> for choose</h2>
    @*<img class="kostik" src="~/Images/WIN_20220401_13_19_23_Pro.jpg" />*@
</div>
