@page
@model RentCar.Pages.Index1Model
@{
    ViewData["Title"] = "Signing in";
}

<div class="text-center">
    <h1 class="display-4">Sign in</h1>
    <p></p>
    <p>Your email/login <input type ="text" /> </p>
    <p>Your password <input type="password"> </p>
    <button class="sign-in_button"> Sign-in </button>
</div>
