@page
@model RentCar.Pages.Admin.AddCarModel
@{
	ViewData["Title"] = "Adding car";
}

<div class="add-car-menu">
	<form>
		<h2 class="add-car-h2">This is add car menu.</h2>
		<div class="name-car-params">
			<p><strong>Brand:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Model:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Body type:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Year of production:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Drive type:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Country of production:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Type of engine:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Engine size (capacity):</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Gearbox type:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Milleage:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Day price:</strong></p>
			<input class="car-params" type="text" />
		</div>
		<div class="name-car-params">
			<p><strong>Week price:</strong></p>
			<input class="car-params"  type="text" />
		</div>
		<input type="submit" />
	</form>
</div>