@page
@model RentCar.Pages.Admin.EditCarModel
@{
	ViewData["Title"] = "Edit car menu";
}

<div>
	<form method="post">
		<input type="submit" class="floating-button" value="Delete car" name="delBtnPushed"></input>
	</form>
	
</div>
