<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var months = new Array(13);
        months[1] = "January"; months[2] = "February"; months[3] = "March"; months[4] = "April"; months[5] = "May"; months[6] = "June"; months[7] = "July"; months[8] = "August"; months[9] = "September"; months[10] = "October"; months[11] = "November"; months[12] = "December";

        var time = new Date();
        var thismonth = months[time.getMonth() + 1];
        var date = time.getDate();
        var thisyear = time.getYear();
        var day = time.getDay() + 1;

        if (thisyear < 2000)
            thisyear = thisyear + 1900;
        if (day == 1) DayofWeek = "Sunday";
        if (day == 2) DayofWeek = "Monday";
        if (day == 3) DayofWeek = "Tuesday";
        if (day == 4) DayofWeek = "Wednesday";
        if (day == 5) DayofWeek = "Thursday";
        if (day == 6) DayofWeek = "Friday";
        if (day == 7) DayofWeek = "Saturday";
    </script>
    <script>
        setInterval(function () {
            var cd = new Date();
            var clockdat = document.getElementById("clockdat");
            clockdat.innerHTML = cd.toLocaleTimeString();
        }, 1000);
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentCar</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentCar.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="actual-date">
            <span class="word-today">Today is:</span>
            <span class="date-today">
                <script>
                    document.write(date + " ");
                    document.write(thismonth + " " + thisyear + " " + " — " + DayofWeek);
                </script>
                (<span id="clockdat" style="color:limegreen"></span>)
            </span>
        </div>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/Images/RentCarLogo.png" width="45" height="45" >RentCar</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="index-nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="catalog-nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Catalog">Catalog</a>
                        </li>
                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="my-account">
                                <a class="nav-link" href="/Accounts/MyAccount?nickname=@User.Identity.Name">My account</a>
                            </li>
                        }
                        else
                        {
                            <li class="sign-in-nav-item">
                                <a class="nav-link" asp-page="/Accounts/Sign-in">Sign in</a>
                            </li>
                            <li class="reg-nav-item">
                                <a class="nav-link" asp-page="/Accounts/Reg">Registration</a>
                            </li>
                        }
                        @if ((User.IsInRole("admin")) || (User.IsInRole("moderator")))
                        {
                            <li class="managment">
                                <a class="nav-link" href="/Managment">Managment</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
