@page
@model BookStore.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<html>
    <body>
        <div class="logout-menu">
            <h2>Dou you really want to logout?</h2>
            <form class="logout-pan" method="post">
                <button class="floating-button-logout" name="IsLogout" value="True">Yes</button>
                <button class="floating-button-cancel" name="IsLogout" value="False">No</button>
            </form>
        </div>
    </body>
</html>