@page
@model BookStore.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<html>
    <body>
        <div>
            <h2>STFU</h2>
            <form class="logout-pan" method="post">
                <button name="IsLogout" value="False">No. I love you</button>
                <button name="IsLogout" value="True">Yes. See your later! (BBWFY)</button>
            </form>
        </div>
    </body>
</html>