@page
@model RentCar.Pages.MyAccountModel
@{
    ViewData["Title"] = "My account";
}

<html>
    <body>
        <h1 class="hello-user"><strong>Hello @User.Identity.Name</strong></h1>
        <p class="money">Your money =$@Model.CurrentUser.Money (WOW)</p>
        <ul class="my-account-menu">
            <li>
                @if (User.IsInRole("moderator"))
                {
                    <a class="give-role-button" href="/Moderator/GiveRole">Change user roles</a><br />
                }
                @if ((User.IsInRole("moderator")) || (User.IsInRole("admin")))
                {
                    <a class="add-car-ref" href="/Admin/AddCar">Add car</a><br />
                    <a class="delete-car-ref" href="/Admin/DeleteCar">Delete car</a>
                }
            </li>
            <li>
               <a href="/Accounts/Logout">Logout</a>
            </li>
        </ul>
        </body>
    </html>
