@page
@model RentCar.Pages.MyAccountModel
@{
    ViewData["Title"] = "My account";
}


<html>
    <body>
        <h1 class="hello-user"><strong>Hello @User.Identity.Name</strong></h1>
        @*<p class="money">Your money =$@Model.CurrentUser.Money (WOW)</p>*@
        <ul class="my-account-menu">
            <li>
               <a href="/Accounts/Logout">Logout</a>
            </li>
        </ul>
        </body>
    </html>
