@page
@model RentCar.Pages.MyAccountModel
@{
    ViewData["Title"] = "My account";
}

<html>
    <body>
        <h1 class="hello-user">Hello @User.Identity.Name</h1>
        <p class="money">Your money =$@Model.CurrentUser.Money</p>
        <a href="/Accounts/Logout">Logout</a>
    </body>
</html>
