@page
@model RentCar.Pages.Accounts.RegModel
	@{ViewData["Title"] = "Registration"; 
}


<form method="post">
    <div class="reg-menu">
        <h1 class="reg-title">Registration</h1>
        <div class="text-center">
            <label>Username</label><br />
            <input class="user-inp" name="username" value="@Model.Username" />
        </div>
        <div class="text-center">
            <label>Email</label><br />
            <input class="user-inp" name="email" value="@Model.Email" />
        </div>
        <div class="text-center">
            <label>Password</label><br />
            <input class="user-inp" type="password" name="password" />
        </div>
        <div class="text-center">
            <label>Confirm your password</label><br />
            <input class="user-inp" type="password" name="passwordConfirm" />
        </div>
        <div class="text-center">
            <br />
            <input href="/Index" type="submit" value="Registration" class="floating-button">
        </div>
    </div>
</form>
@*<form class="reg-form" method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="model.Username"></label><br />
        <input asp-for="model.Username" />
        <span asp-validation-for="model.Username"></span>
    </div>
    <div>
        <label asp-for="model.Email"></label><br />
        <input asp-for="model.Email" />
        <span asp-validation-for="model.Email"></span>
    </div>
    <div>
        <label asp-for="model.Password"></label><br />
        <input asp-for="model.Password" />
        <span asp-validation-for="model.Password"></span>
    </div>
    <div>
        <label asp-for="model.PasswordConfirm"></label><br />
        <input asp-for="model.PasswordConfirm" />
        <span asp-validation-for="model.PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>*@

