@page
@model RentCar.Pages.Accounts.RegModel
	@{ViewData["Title"] = "Registration"; 
}

<h2>Registration</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    @*<div>
        <label asp-for="model.Fname"></label><br />
        <input asp-for="model.Fname" />
        <span asp-validation-for="model.Fname"></span>
    </div>
    <div>
        <label asp-for="model.Sname"></label><br />
        <input asp-for="model.Sname" />
        <span asp-validation-for="model.Sname"></span>
    </div>
    <div>
        <label asp-for="model.Age"></label><br />
        <input asp-for="model.Age" />
        <span asp-validation-for="model.Age"></span>
    </div>
    <div>
        <label asp-for="model.PhoneNum"></label><br />
        <input asp-for="model.PhoneNum" />
        <span asp-validation-for="model.PhoneNum"></span>
    </div>*@
    <div>
        <label asp-for="model.Username"></label><br />
        <input asp-for="model.Username" />
        <span asp-validation-for="model.Username"></span>
    </div>
    <div>
        <label asp-for="model.Email"></label><br />
        <input asp-for="model.Email" />
        <span asp-validation-for="model.Email"></span>
    </div>
    <div>
        <label asp-for="model.Password"></label><br />
        <input asp-for="model.Password" />
        <span asp-validation-for="model.Password"></span>
    </div>
    <div>
        <label asp-for="model.PasswordConfirm"></label><br />
        <input asp-for="model.PasswordConfirm" />
        <span asp-validation-for="model.PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>

