.text-left {
    font-family: Comic Sans MS;
    color: limegreen;
}

h1{
    font-family: Calibri;
    color: limegreen;
}

.reg-form {
    border-style: solid;
    background-color: gray;
    max-width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
   
}
