@page
@model RentCar.Pages.Accounts.RentHistoryModel
@{
	ViewData["Title"] = "Rent history";
}


<body>
	<table class="actual-rent-table">
		<tr class="table-headers">
			<th>
				<p><strong>Car</strong></p>
			</th>
			<th class="borders">
				<p><strong>Rent start date</strong></p>
			</th>
			<th class="borders">
				<p><strong>Rent end date</strong></p>
			</th>
		</tr>
		@foreach(var rt in Model.userHistory)
		{
			<tr>
				<td>
					<a href="/CarPage?Id=@rt.CarId">Click here. Name coming s00n</a>
				</td>
				<td class="borders">
					<p>@rt.RentStartDate</p>
				</td>
				<td class="borders">
					<p>@rt.RentEndDate</p>
				</td>
			</tr>
		}
	</table>
</body>