table.actual-rent-table th p,table.actual-rent-table td p {
    color: black;
    padding: 10px;
    font-family: 'Comic Sans MS';
}

th.borders, td.borders {
    border-left: 2px solid darkgray;
}

td {
    border-top: 2px solid black;
}

table.actual-rent-table {
    border-radius: 25px;
    border-style: solid;
    background-color: gray;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border: solid;
}

h1.no-cars{
    font-family: 'Comic Sans MS';
    color: limegreen;
    text-align: center;
}