@page
@model RentCar.Pages.Accounts.SignInModel
@{
    ViewData["Title"] = "Signing in";
}

<form class="sign-in-form" method="post">
    <div asp-validation-summary="ModelOnly"></div>
        <h1 class="sign-in">Sign in</h1>
        <div class="text-center">
            <label asp-for="model.Username"></label><br />
            <input asp-for="model.Username" />
            <span asp-validation-for="model.Username"></span>
        </div>
        <div class="text-center">
            <label asp-for="model.Password"></label><br />
            <input asp-for="model.Password" />
            <span asp-validation-for="model.Password"></span>
        </div>
        <div class="text-center">
            <br />
            <input type="submit" value="Sign in" />
        </div>
</form>
