@page
@model RentCar.Pages.Accounts.SignInModel
@{
    ViewData["Title"] = "Signing in";
}
<div class="sign-in-menu">
    <form method="post">
        <h1 class="sign-in">Sign in</h1>
        <div class="text-center">
            <label>Username</label><br />
            <input type="text" name="username" />
        </div>
        <div class="text-center">
            <label>Password</label><br />
            <input type="password" name="password" />
        </div>
        <div class="text-center">
            <br />
            <input href="/Index" type="submit" value="Sign in" class="floating-button">
        </div>
        <br /><br />
    </form>
</div>


