.text-center {
    font-family: Comic Sans MS;
    color: limegreen;
    text-align: center;
}

h1 {
    font-family: Calibri;
    color: limegreen;
    text-align: center;
    text-decoration: underline;
}
